@{
    ViewBag.Title = "Hủy đơn hàng";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="container">
    <h3 style="margin-top:10px;">Đơn hàng đã được hủy bỏ</h3>
    <p style="margin:10px 0;">Hủy đơn hàng thành công từ Ngân Lương. Vui lòng <a href="/">click vào đây</a> để về trang chủ.</p>
</div>