 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="products">Danh sách sản phẩm</a></li>
        <li class="active">Thêm  mới</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" novalidate name="frmAddProduct" role="form" ng-submit="AddProduct()">
        <div class="row">
            <!-- column 1 -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="box-body">
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.name.$invalid && !frmAddProduct.name.$pristine }">
                                <label for="txtProductName">Tên sản phẩm</label>
                                <div>
                                    <input id="txtProductName" type="text" placeholder="Nhập tên sản phẩm" class="form-control" required ng-maxlength="256" name="name" ng-model="product.Name" ng-change="GetSeoTitle()">
                                    <span ng-show="frmAddProduct.name.$error.maxlength" class="has-error">Tên sản phẩm chỉ được 256 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.parentid.$invalid && !frmAddProduct.parentid.$pristine }">
                                <label for="inputPassword3" class="control-label">Danh mục</label>
                                <div>
                                    <select class="form-control" name="parentid" required ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in productCategories">
                                        <option value="">[Chọn danh mục]</option>
                                    </select>
                                    <input type="hidden" name="parentId" ng-model="product.CategoryID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Bảo hành </label> (tháng)
                                <div>
                                    <input type="number" placeholder="Nhập tháng bảo hành" class="form-control" name="warranty" ng-model="product.Warranty">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.price.$invalid && !frmAddProduct.price.$pristine }">
                                <label for="inputPassword3" class="control-label">Giá</label>
                                <div>
                                    <input type="number" placeholder="Nhập giá tiền" class="form-control" name="price" required ng-model="product.Price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Giá khuyến mãi</label>
                                <div>
                                    <input type="number" placeholder="Nhập giá khuyến mãi nếu có" class="form-control" name="promotionprice" ng-model="product.PromotionPrice">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Tags</label>
                                <div>
                                    <tags-input ng-model="product.Tags" name="tags"></tags-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input class="minimal" type="checkbox" name="status" ng-model="product.Status" ng-checked="product.Status"> Kích hoạt
                                </label>
                                <label style="padding-left: 10px;">
                                    <input class="minimal" type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag"> Hiển thị trang chủ
                                </label>
                                <label style="padding-left: 10px;">
                                    <input class="minimal" type="checkbox" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag"> Sản phẩm Hot
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (column 1) -->
            <!-- column 2 -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="box-body">
                            <!--<div class="form-group">
                                <label>Màu sắc</label>
                                    <select ui-select2 ng-model="select2" data-placeholder="Pick a number" style="width:100%" multiple="true">
                                    <option></option>
                                    <option ng-repeat="color in colors" value="{{color.ColorID}}">{{color.Name}}</option>
                                </select>
                            </div>-->
                            <div class="form-group">
                                <!--<label>test 1</label>
                                <div width="100%" ng-dropdown-multiselect="" options="example13data" selected-model="example13model" extra-settings="example13settings">
                                </div>-->
                                <label for="inputPassword3" class="control-label">Mô tả ngắn</label> <span ng-show="frmAddProduct.description.$error.maxlength" class="has-error"> (Mô tả chỉ được 500 ký tự)</span>
                                <div>
                                    <input type="text" placeholder="Nhập mô tả ngắn về sản phẩm" class="form-control" name="description" ng-maxlength="500" ng-model="product.Description">
                                </div>
                                <label for="inputPassword3" class="control-label">Mô tả sản phẩm</label>
                                <div>
                                    <textarea class="form-control" placeholder="Nhập mô tả đầy đủ thông tin sản phẩm" name="content" ckeditor="ckeditorOptions" ng-model="product.Content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col (column 2) -->
            <!-- column 3-->
            <div class="col-md-4">
                <div class="box box-warning">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Tiêu đề SEO</label>
                                <div>
                                    <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="product.Alias">
                                    <span ng-show="frmAddProduct.alias.$error.maxlength" class="has-error">Tiêu đề SEO chỉ được 256 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Meta Keyword</label>
                                <div>
                                    <textarea class="form-control" name="metakeyword" ng-model="product.MetaKeyword"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Meta Description</label>
                                <div>
                                    <textarea class="form-control" name="metadescription" ng-model="product.MetaDescription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Hình đại diện</label>
                                <div>
                                    <ul class="list-inline">
                                        <li><img ng-src="{{product.Image}}" width="100" /></li>
                                    </ul>
                                    <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="control-label">Hình mô tả</label>
                                <div>
                                    <ul class="list-inline">
                                        <li ng-repeat="img in moreImages"><img ng-src="{{img}}" width="100" /></li>
                                    </ul>
                                    <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (column 3) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" ui-sref="products">Hủy</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="frmAddProduct.$invalid">Thêm mới</button>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>